body{
  padding-top: 52px;
  font-size: 14px !important;
}

.mainBody{
  position: relative;
  display: block;
  width: 100%;
  min-height: 490px;
  height: auto;
}

h3 {
  color: #cc0995;
}

h4 {
  /* color: #067e7e; */
  color: #7807f4;
}

h5{
  color: #0e4371;
}

h6 {
  color: #054114;
}

/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grayBgWithPinkBorder {
  display: block;
  position: relative;
  background: #e9ecef;
  width: 100%;
  height: auto;
  border-top: 2px dashed #cc0995;
  border-bottom: 2px dashed #e65ec0;
  padding: 20px 0;
}

.whiteBgWithVioletBorder {
  display: block;
  position: relative;
  background: #fff;
  width: 100%;
  height: auto;
  border-top: 2px dashed #7f09ee;
  border-bottom: 2px dashed #7f09ee;
  padding: 20px 0;
}