body{
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; */
  padding-top: 52px;
  font-size: 14px !important;
  font-weight: normal !important;
}

.mainBody{
  position: relative;
  display: block;
  width: 100%;
  min-height: 490px;
  height: auto;
}

/* Site Header CSS Start here */
.navbar-brand {
  margin-right: 0;
}

.navbar {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.navBg{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,33,209,1) 70%, rgba(0,212,255,1) 100%);
}

.App-logo {
    height: 35px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  
}

.dropdown-item {
  font-size: 14px;
}

/* Site Footer CSS Start here */

.siteFooter{
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,21,121,1) 49%, rgba(0,212,255,1) 100%);
  padding: 10px 0;
}

.text{
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

h3 {
  color: #cc0995;
}

h4 {
  /* color: #067e7e; */
  color: #7807f4;
}

h5{
  /* color: #0e4371; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; */
  color: #0d61dc
}

h6 {
  /* color: #5f45e0; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; */
  color: #2206ad;
  line-height: 1.5rem !important;
  font-size: 14px !important;
}

/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.noBorder{
  border-top: none !important;
  border-bottom: none !important;
}

.grayBgWithPinkBorder {
  display: block;
  position: relative;
  background: #e9ecef;
  width: 100%;
  height: auto;
  border-top: 2px dashed #cc0995;
  border-bottom: 2px dashed #e65ec0;
  padding: 20px 0;
}

.whiteBgWithVioletBorder {
  display: block;
  position: relative;
  background: #fff;
  width: 100%;
  height: auto;
  border-top: 2px dashed #7f09ee;
  border-bottom: 2px dashed #7f09ee;
  padding: 20px 0;
}

.darkBlueBgWithPinkBorder {
  display: block;
  position: relative;
  background: #062442;
  width: 100%;
  height: auto;
  border-top: 2px dashed #cc0995;
  border-bottom: 2px dashed #e65ec0;
  padding: 20px 0;
  color: #fff;
  margin: 25px 0;
}

.blueGradientRight {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(239,239,242,1) 0%, rgba(0,212,255,1) 97%);
  padding: 20px 0;
  margin: 20px 0;
}

.blueGradientLeft {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(239,239,242,1) 79%);
  padding: 20px 0;
  margin: 20px 0;
}

.lighGreenBG {
  padding: .75rem;
  background: #e2f4e2;
  border-radius: 5px;
}

.form-group{
  margin-bottom: 15px;
}

.darkTheme{
  background: #282c34;
  padding: 10px;
  border-radius: 5px;
  color: #e9ecef;
}

.whiteTheme{
  background: #eff0f4;
  padding: 10px;
  border-radius: 5px;
  color: #010910;
}

.darkIcon {
  font-size: 24px;
  color: black;
}

.whiteIcon {
  font-size: 24px;
  color: yellow;
}

.modalBackDrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0; */
  transition: opacity .15s linear;
}

.countdownTimerInput input {
  text-align: center;
}

.curvBg {
  background: url('./Assets/curv_bg.png') no-repeat;
  width: 100%;
  height: 600px;
}